#include "resource.h"
#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

DONUTS_ICON             ICON    DISCARDABLE     "donuts.ico"

SPLASH                  BITMAP  MOVEABLE PURE   "SPLASH.BMP"
DONUTS8                 BITMAP  MOVEABLE PURE   "donuts.bmp"

BEGINLEVEL              WAV     MOVEABLE PURE   "level.wav"
ENGINEIDLE              WAV     MOVEABLE PURE   "hum.wav"
ENGINEREV               WAV     MOVEABLE PURE   "rev.wav"
SKIDTOSTOP              WAV     MOVEABLE PURE   "skid.wav"
SHIELDBUZZ              WAV     MOVEABLE PURE   "shield.wav"
GUNFIRE                 WAV     MOVEABLE PURE   "gunfire.wav"
SHIPBOUNCE              WAV     MOVEABLE PURE   "bounce.wav"
SHIPEXPLODE             WAV     MOVEABLE PURE   "bangbang.wav"
DONUTEXPLODE            WAV     MOVEABLE PURE   "d_bang.wav"
PYRAMIDEXPLODE          WAV     MOVEABLE PURE   "p_bang.wav"
CUBEEXPLODE             WAV     MOVEABLE PURE   "c_bang.wav"
SPHEREEXPLODE           WAV     MOVEABLE PURE   "s_bang.wav"

IDR_MAIN_ACCEL ACCELERATORS DISCARDABLE 
BEGIN
    VK_RETURN,      IDM_TOGGLEFULLSCREEN,   VIRTKEY, ALT, NOINVERT
END
